@mixin flex($justify: center, $align: center, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

html {
    font-size: 15px;
    color: white;
    background-color: black;

    body {
        min-height: 100vh;
        margin: 0;
        @include flex(space-between, unset, column);

        .container {
            margin: 0 auto;
            max-width: 1920px;
        }

        .flex-center-row {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
        }

        .flex-center-column {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        button {
            background: unset;
            border: none;
        }

        input {
            outline: none;
            border: none;
        }

        a {
            color: inherit;
            text-decoration: none;
        }
    }
}