html {
    box-sizing:  border-box;
    font-size: 15px;
    color: white;

    body {
        min-height: 100vh;

        .container {
            margin: 0 auto;
            max-width: 1920px;
        }

        a {
            color: inherit;
            text-decoration: none;
        }
    }
}